a.item.menu-item {
    width: 120px;
}

.ui.menu .item.xs-visible {
    display: none;
}

.ui.menu .item.xs-hidden {
    display: flex;
}

.header-menu{
    padding: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
    .ui.menu .item.xs-visible {
        display: flex;
    }
    
    .ui.menu .item.xs-hidden {
        display: none;
    }
}